:root {
    --verde: #20B548;
    --rosa: #df4ab7;
    --negro: #000000;
}

@font-face {
    font-family: 'techno';
    src: url('public/DOTMATRI.TTF') format('truetype'),
        url('public/DOTMBold.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'akira';
    src: url('public/3270NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, var(--verde) 10%, var(--negro) 90%);
    min-height: 300vh;
    font-family: 'akira';
    font-size: 1.1rem;
}

.vestigium-title {
    font-family: 'techno', monospace;
    margin-top: 175;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 300;
}

.logo {
    filter: invert();
    height: 175px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.2);
}

.flip-container {
    perspective: 1000px;
    width: 600px;
    height: 350px;
    margin: 20px;
}

.flipper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front,
.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 20;
    box-sizing: border-box;
}

.front {
    background-color: var(--rosa);
    color: white;
}

.back {
    background-color: var(--verde);
    color: white;
    transform: rotateY(180deg);
}
